<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/password.css">
    <title>Genera una contraseña segura</title>
</head>
<body>
    <header class="header">
        <a href="../../index.html">
            <img src="../assets/rocket.png" alt="go home"/>
            <h2>GO HOME</h2>
        </a>
    <main class="main">
        <div class="texto" id="texto">
            <h2>Crea tu contraseña segura
                <img src="../assets/padlock black hole.png" alt="padlock" />
            </h2>
        </div>
        <div class="password-generator" id="password-generator">
            <div class="inputbox" id="inputbox">
                <p>Numero de caracteres de la Contraseña</p>
                <div class="buttons">
                    <input type="number" min="12" max="50" id="number" value="12"/>
                    <button id="generator" type="button">Generar Contraseña</button>
                    <div id="passwordDisplay"></div>
                </div>
            </div>
        </div>
    </main>
    <footer class="footer">
        <nav>
          <a href="watch.html"><img src="../assets/watch.png" alt="clock"></a>
          <a href="password.html"><img src="../assets/lock.png" alt="lock"></a>
          <a href="links.html"><img src="../assets/link.png" alt="link"></a>
          <a href="weather.html"><img src="../assets/cloud.png" alt="cloud"></a>
        </nav>
      </footer>
    <script src="../js/password.js"></script>
</body> 
</body>
</html>