<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/time.css">
    <title>Reloj Digital</title>
</head>
<body>
    <header class="header">
        <a href="../../index.html">
            <img src="../assets/rocket.png" alt="go home"/>
            <h2>GO HOME</h2>
        </a>
    </header>
    <main class="main">
        <section class="time-container">
            <article class="time-date">
                <div class="title">Son las...</div>
                <div id="hour" class="hour"></div>
                <div id="date" class="date"></div>
                <div id="message" class="message"></div>
            </article>
        </section>
    </main>
    <footer class="footer">
        <nav>
          <a href="watch.html"><img src="../assets/watch.png" alt="clock"></a>
          <a href="password.html"><img src="../assets/lock.png" alt="lock"></a>
          <a href="links.html"><img src="../assets/link.png" alt="link"></a>
          <a href="weather.html"><img src="../assets/cloud.png" alt="cloud"></a>
        </nav>
      </footer>
    <script src="../js/time.js"></script>
</body>
</html>