<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/time.css">
    <title>Reloj Digital</title>
</head>
<body>
    <main class="main">
        <div class="time-date">
            <div class="title">Son las...</div>
            <div id="hour" class="hour"></div>
            <div id="date" class="date"></div>
            <div id="message" class="message"></div>
        </div>
    </main>
    <script src="../js/time.js"></script>
</body>
</html>