<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/weather.css">
    <title>Consulta del Tiempo</title>
</head>
<body>
    <section class="container">
         <!-- <div>City: <span class="city"></span></div>
        <div>Country: <span class="country"></span></div>
        <div>Weather: <span class="weather"></span></div>
        <div class="picture">
            <img src="" alt="" />
            <div class="temperature"></div>
        </div>
    
        <div>
            <p>Precipitation: <span class="precipitation"></span></p>
            <p>Humidity: <span class="humidity"></span></p>
            <p>Wind: <span class="wind"></span></p>
        </div>-->
    <div class="forecastContainer"></div>
    </section>
    <script src="../js/weather.js"></script>
</body>
</html>