@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* My code */
body {
    text-align: center;
    background-image: url('../assets/stars.jpg');
    font-family: 'Poppins', sans-serif;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

}

.header {
    position: fixed;
}

.header a {
    display: flex;
    gap: 10px;
    padding: 10px;
    color: #000;
    text-decoration: none;
    filter: invert(1);
    align-items: center;
    
}

.header h2 {
    font-size: 15px;
}

.header img {
    width: 30px;
}

.main {
    display: flex;
    justify-content: center; 
    text-align: center;
    align-items: center;
    min-height: 100vh;
}


.container {
    height: 300px;
    width: 350px;
    text-align: center; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    padding: 20px;
    max-width: 400px;
    color: #f4f4f4;
    border-radius: 15px;
    background-color: #33333393;
}

.place {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.weather p{
    color: #ffe5c1;
}

.temp-and-cond-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 20px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 0;
}

.picture {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    font-size: 50px;
    gap: 10px;
}


.picture img {
    width: 100%;
    height: 100%;
}

.temperature {
    display: flex;
    justify-content: center;
    align-items: center;
}

.temperature img {
    filter: invert(1);
    width: 30px;
}

.weather-conditions {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.weather-conditions p {
    color: #b0b0b0;
}

.forecastContainer {
    display: flex;
    align-items: center; 
    gap: 10px; 
    width: 300px; 
    height: 200px; 
    margin-top: 25px; 
    overflow-x: scroll;
}

.image {
    width: 60px;
    height: 60px;
}

.image-weather {
    width: 100%;
    height: 100%;
}

.degrees p {
    color: #ffe5c1;
}

footer {
    height: 60px;
    width: 100%;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 10px;
}

.footer nav {
    display: flex;
    gap: 20px;
}

.footer img {
    width: 30px;
    filter: invert(1);
}